<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewsFetch</servlet-name>
        <servlet-class>com.mycompany.mavenproject2.NewsFetch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sports</servlet-name>
        <servlet-class>com.mycompany.mavenproject2.Sports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>World</servlet-name>
        <servlet-class>com.mycompany.mavenproject2.World</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>India</servlet-name>
        <servlet-class>com.mycompany.mavenproject2.India</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Entertainment</servlet-name>
        <servlet-class>com.mycompany.mavenproject2.Entertainment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Education</servlet-name>
        <servlet-class>com.mycompany.mavenproject2.Education</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Business</servlet-name>
        <servlet-class>com.mycompany.mavenproject2.Business</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Environment</servlet-name>
        <servlet-class>com.mycompany.mavenproject2.Environment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsFetch</servlet-name>
        <url-pattern>/NewsFetch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sports</servlet-name>
        <url-pattern>/Sports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>World</servlet-name>
        <url-pattern>/World</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>India</servlet-name>
        <url-pattern>/India</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Entertainment</servlet-name>
        <url-pattern>/Entertainment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Education</servlet-name>
        <url-pattern>/Education</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Business</servlet-name>
        <url-pattern>/Business</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Environment</servlet-name>
        <url-pattern>/Environment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
